@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #666666;
  }
}

@layer components {
  .table-default {
    @apply min-w-full border;
  }

  .table-default thead {
    @apply bg-grey-light dark:bg-grey-darker;
  }

  .table-default th {
    @apply px-6 py-4 text-start text-gray-600 dark:text-white text-sm;
  }

  .table-default tbody tr {
    @apply border;
  }

  .table-default tbody td {
    @apply px-6 py-3;
  }

  .dashboard-card {
    @apply bg-white dark:bg-grey-darker dark:text-grey-light rounded-lg p-4;
  }
}

@layer utilities {
  .overflow-overlay {
    scrollbar-gutter: stable;
    /* overflow: overlay; */
  }
}

.MuiPaper-root {
  @apply dark:bg-grey dark:text-white !important;
}

.MuiList-root {
  @apply p-2 !important;
}

.apexcharts-xaxis-label,
.apexcharts-yaxis-label,
.apexcharts-legend-text {
  color: unset !important;
  @apply fill-grey  dark:fill-white text-grey dark:text-white;
}

.MuiFormControl-root,
.MuiToggleButtonGroup-root {
  @apply bg-white dark:bg-grey rounded-lg outline-none active:outline-none focus:outline-none !important;
}

.MuiToggleButton-root {
  @apply dark:text-grey-light;
}
.MuiToggleButton-root.Mui-selected {
  @apply dark:bg-grey-darker dark:text-white;
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradient-bg 5s ease infinite;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.muidatatable .MuiToolbar-root {
  @apply bg-primary dark:bg-grey-darker min-h-0 py-2;
}

.muidatatable table {
  @apply min-w-full;
}

.muidatatable th .MuiButtonBase-root {
  @apply p-0 m-0 !important;
}

.muidatatable th {
  @apply p-2 text-start dark:text-white text-sm bg-grey-light dark:bg-grey-darker !important;
}

.muidatatable th * {
  @apply font-bold !important;
}

.muidatatable tbody td {
  @apply px-2 py-3 !important;
}

.muidatatable .MuiInputBase-input {
  @apply px-2;
}
.muidatatable .MuiInputBase-root::before {
  border-bottom: none !important;
}

.muidatatable .MuiInputBase-root::after {
  border-bottom: none !important;
}

.muidatatable .MuiToolbar-root .MuiSvgIcon-root {
  @apply text-white;
}
