Authentication:-
- SuperAdmin is a unique account through the whole system.
- SuperAdmin creates, edits, deletes, suspends all accounts.
- SystemUser edits his account, except email & password.

System Setup:-
- SuperAdmin creates and controls parkings list.
- SuperAdmin creates and controls dispensers list.
- SuperAdmin creates and controls cards categories.
- SuperAdmin creates and controls tickets categories.
questions
- about ticket categories ?? what does it mean ? ticket per vehicle type 'truck-limo ...' ?

Parking List:-
- The system can have more than one parking.
- Parking type can be one of two options 'fixed' or 'variable'.
- Fixed parking means that we don't count how long the customer stays in the prking.
- Variable parking means that we count how many hours he stays in.
- Each parking can have more than one dispenser.
- Parking calculation fees can either be 'exact' or 'round 1 hour'.
- Each parking can have extra vat to be applied on any event happens.
- Each parking can have 'hidden fees' to be added to each ticket as an extra fees.

Cards:-
- We have 3 types of cards => 1. subscription   2. manager   3. stored-value
questions
- the card holder will not get a ticket ?
- subscription monthly fees will be on each parking ??
- if yes, will it be the same for fixed or variable parking types

subsciber
- each card has monthly rate, each parking has a global rate.
- each card has entry limit, parking_global_value.
- each card has start/end dates, 'subscription period'.
questions ?
- each subscription card has it's own monthly rate ? parking global value ? system global value ?
- the entry limit value, to be set for each subscription card ? global value per month ?
- does the card associated with one parking or all parkings in the system

manager
-
questions ?
- no fees, no tickets ?

stored-value
- a card to be charged with the operator
questions ?
- has no expiry date ?


tickets
associated with a card or generated for non-card entries ?





vehicles types
- will we consider vehicle type ? car, truck, motorcycle and so on
- types list, is it static ?? means we have 4 types of vehicles, we just need to set it's rate per hour
- or we can come up and add new vehicles types ??

















